<div class="container"> 
  <div class="columns is-multiline is-mobile">
    
        <div class="column is-one-half">
          
        <!-- Content -->
        <div class="card">
          <div class="card-content">
            <div class="media">
              <div class="media-left">
                <figure class="image is-48x48">
                  <img src="https://bulma.io/images/placeholders/96x96.png" alt="Placeholder image">
                </figure>
              </div>
              <div class="content">
                <h1 class="title"><%= link_to @monster.name, monster_path(@monster), class: "has-text-dark"%></h1>
                <p class="subtitle"><%= @monster.size %> <%= @monster.monster_type %></p>

                <!-- HP and AC -->
                  <table class="table">
                    <thead>
                      <th><span class="icon is-small is-left is-salmon"><i class="fas fa-heart"></i></span>
                        Hitpoints
                      </th>
                      <th><span class="icon is-small is-left is-salmon"><i class="fas fa-shield-alt"></i></span>
                        Armor Class
                      </th>
                    </thead>
                    <tbody>
                      <tr>
                        <td><%= @monster.hit_points %></td>
                        <td><%= @monster.armor_class %></td>
                      </tr>
                    </tbody>
                  </table>
                <!-- end HP and AC -->
              </div>
          </div>



      <div class="content">        
        <p class="subtitle">
          <%= @monster.description %>
        </p>
      </div>

      <!-- Statblock -->
      <div class="content">
          <table class="table is-narrow ">
            <thead class="is-center subtitle">
              <th><span class="icon is-small is-left"><i class="fas fa-fist-raised"></i></span>
                Strength
                </th>
              <th><span class="icon is-small is-left"><i class="fas fa-bullseye"></i></span>
                Dexterity
              </th>
              <th><span class="icon is-small is-left"><i class="fas fa-heartbeat"></i></span>
                Constitution
                </th>
              <th><span class="icon is-small is-left"><i class="fas fa-book-reader"></i></span>
                Intelligence
              </th>
              <th><span class="icon is-small is-left"><i class="fas fa-brain"></i></span>
                Wisdom
              </th>
              <th><span class="icon is-small is-left"><i class="fas fa-theater-masks"></i></span>
                Charisma
              </th>
            </thead>
            <tbody class="subtitle">
              <tr>
                <td><%= @monster.strength %></td>
                <td><%= @monster.dexterity %></td>
                <td><%= @monster.constitution %></td>
                <td><%= @monster.intelligence %></td>
                <td><%= @monster.wisdom %></td>
                <td><%= @monster.charisma %></td>
              </tr>
            </tbody>
          </table>
      </div>
      <!-- end statblock -->

      <div class="content">
        <br>
        <small>Last updated <%= time_ago_in_words(@monster.updated_at)%> ago.</time><br>
        <small>Created <%= time_ago_in_words(@monster.created_at) %> ago.</time>
      </div>

    </div>
  </div>
  </div>

  </div>
  <%= link_to 'Delete', monster_path(@monster), method: :delete, class: "button is-primary" %>

</div>
