
<h1 class="title is-salmon"> <%= @user.username  %>'s profile</h1>
<h2 class="subtitle is-salmon"><%= @user.about %></h2>

<%= link_to "Edit your profile", edit_user_path(@user), class: "button is-primary" %>

<div class="container">
<%= will_paginate @monsters, :container => false, renderer: BulmaPagination::Rails, class: "is-centered is-small", next_label: ">", previous_label: "<" %>
</div>

<div class="container">
  <%= render 'monsters/monster' %>
</div>

<div class="container">
  <%= will_paginate @monsters, :container => false, renderer: BulmaPagination::Rails, class: "is-centered is-small", next_label: ">", previous_label: "<" %>
</div>